body {
    background-image: url('my_profile.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
/* unvisited link */
a:link {
    color: hotpink;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: hotpink;
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    color:coral;
    text-decoration: none;
  }
  
  /* selected link */
  a:active {
    color:  hotpink;
    text-decoration: none;
  }
.info-1 {
    position: absolute;
    top: 85px;
    right: 100PX;
    width: 600px;
    height: 380px;
    word-spacing: 8px;
    line-height: 1.4;
    /* border: 3px solid #73AD21; */
    font-size: 18px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
.hr{
    height:3px;
    border-width:1px;
    background-color:black;
}

.grid-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
  }
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 18px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  }